<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}">
</head>
<body>
    <div class="top-bar">
        <div class="topbartitle">
            <p class="sessionname"> {{ session['first_name'] }} is logged in</p>
            <h1 class="bigtitle">These are all your friends</h1>
        </div>
        <div class="topbar-but">
            <a class="login" href="/logout">Logout</a>
            <a href="/user/profile">User's Dashboard</a>
            <a href="/books">All Books</a>
            </div> 
    </div>
    <div class="container">
        <div class="table-solo">
            <h2 class="table-title">All users:</h2>
            <table class="table-info">
                <thead>
                    <tr>
                        <th>Name:</th>
                        <th>Their Page:</th>
                    </tr>
                {% for user in all_friends %}
                <tr>
                    {% if user.id != session['user_id'] %}
                    <td >{{user.first_name}}</td>
                    <td><a href="/friend/{{user.id}}">Profile</a></td>
                    {% endif %}
                {% endfor %}   
                </thead>
            </table>
        </div>
    </div>
    <div class="lower-bar">
    </div>
</body>
</html>