<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}">
</head>
<body>
    <div class="top-bar">
        <div class="topbartitle">
            <h1 class="bigtitle">{{this_user.first_name}}'s Page</h1>
        </div>
        <div class="topbar-but">
            <a class="login" href="/logout">Logout</a>
            <a href="/friends/all">All Friends</a>
            <a href="/books">All Books</a>
            </div> 
    </div>
    <div class="container">
        <div class="list">
            <h2 class="table-title">These are their favorite books</h2>
            <table class="table-info">
                <thead>
                    <tr>
                        <th>Title:</th>
                        <th># of Pages:</th>
                        <th>View Book:</th>
                        <th>Add to your favorite books:</th>
                    </tr>
                    {% for book in this_user_fav %}
                    <tr>
                    <td>{{book.title}}</td>
                    <td>{{book.pages}}</td>
                    <td><a href="/book/{{book.id}}">View </a></td>
                    <form action="/addfavbook" method="post">
                    <input type="hidden" name="user_id" value="{{session['user_id']}}">
                    <input type="hidden" name ="book_id" value="{{book.id}}">
                    <td><input class="button" type="submit" value="Add to my favorites"></td> 
                    </form>   
                    </tr>
                    {% endfor %} 
                </thead>
            </table>
        </div>
    </div>
    <div class="lower-bar">
    </div>
</body>
</html>