<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}">
</head>
<body>
    <div class="top-bar">
        <div class="topbartitle">
            <h1 class="bigtitle">Sasquatch Websighting</h1>
        </div>
        <div class="topbar-span"></div>
        <div class="topbar-but">
            <p class="sessionname"> Hi! {{ session['first_name'] }} {{session ['last_name']}}</p>
            <a class="link-but" href="/user/profile">Dashboard</a>
            <a class="link-but" href="/logout">Logout</a>
        </div> 
    </div> 
    <div class="container">
        <h2 class="table-title">Details about this Sighting:</h2>
        <div class="table-split">
            <table class="table">
                <tr>
                    <td class="sightings"><h2>{{this_sighting.location}} on {{this_sighting.time_that}}</h2></td>
                </tr>
                <tr>
                    <td class="sightings">What happened:</td>
                </tr>
                <tr>
                    <td class="sightings-small">{{this_sighting.description}}</td>
                </tr>
            </table>
            <table class="table">
                <tr>
                    <td class="sightings"> # of Sasquatches : {{this_sighting.number}}</td>
                </tr>        
                <tr> 
                    <td class="sightings">Reported by: {{this_sighting.author}}</td>
                </tr>
            </table>
        </div>
        <table class="table-solo">
            <tr>
                <td class="sightings"><h2>Skeptics: </h2></td>
                {% for skeptics in all_skeptics %}
                <td class="skeptics"> {{skeptics.first_name}} {{skeptics.last_name}}</td>
                {% endfor%}
                <form action="/beskeptic" method="POST">
                    <input type="hidden" name='user_id' value="{{ session['user_id'] }}">
                    <input type="hidden" name='sighting_id' value="{{this_sighting.id}}">
                    <input type="submit" value="Believe it!"> 
                    </form>
           
            </tr>
        </table>
            
    </div>
</body>
</html>